RICHIEDENTE: {{this.dataService.richiedente | json}}<br>
OPERATORE: {{this.dataService.operatore | json}}<br>


<form [formGroup]="personaForm">
    <div class="panel panel-primary setup-content" id="step-144">
        <div class="panel-heading">
            <h3 class="panel-title">Dettaglio personale da abilitare/disabilitare</h3>
        </div>
        

        <input type="hidden" id="id" name="id" formControlName= "id" [(ngModel)]="persona.id" />

        <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label for="nome">Nome</label>
                    <input 
                        type="text"
                        placeholder="Nome" 
                        name="nome" 
                        id="nome" 
                        class="form-control" 
                        formControlName= "nome"
                        [(ngModel)]="persona.nome"
                    />   
                    <div *ngIf="submitted && personaForm.controls.nome.errors" >
                        <div *ngIf="personaForm.controls.nome.errors.required" class="alert-danger">Il nome e' un campo obbligatorio</div>
                    </div>    
                </div>
        
                <div class="form-group col-sm-6">
                        <label class="control-label">Cognome</label>
                        <input 
                            type="text"
                            id="cognome" 
                            name="cognome" 
                            class="form-control" 
                            formControlName= "cognome"
                            placeholder="Inserire il Cognome"
                            [(ngModel)]="persona.cognome"  />
                    
                        <div *ngIf="submitted && personaForm.controls.cognome.errors">
                            <div *ngIf="personaForm.controls.cognome.errors.required"  class="alert-danger">Il cognome e' un campo obbligatorio</div>
                        </div> 
                </div>

                <div class="form-group col-sm-6">
                        <label for="dataNascita">Data nascita</label>
                        <input 
                            type="date"
                            id="dataNascita" 
                            name="dataNascita" 
                            class="form-control" 
                            formControlName= "dataNascita"
                            [(ngModel)]="persona.dataNascita"  />
                    <div *ngIf="submitted && personaForm.controls.dataNascita.errors">
                        <div *ngIf="personaForm.controls.dataNascita.errors.required"  class="alert-danger">La data nascita e' un campo obbligatorio</div>
                    </div> 
                </div>

                <div class="form-group col-sm-6">
                        <label class="control-label">Codice Fiscale</label>
                        <input 
                            type="text"
                            id="codiceFiscale" 
                            name="codiceFiscale" 
                            class="form-control" 
                            formControlName= "codiceFiscale"
                            placeholder="Inserire il Codice Fiscale"
                            [(ngModel)]="persona.codiceFiscale"  />
                    
                        <div *ngIf="submitted && personaForm.controls.codiceFiscale.errors">
                            <div *ngIf="personaForm.controls.codiceFiscale.errors.required"  class="alert-danger">Il codice Fiscale e' un campo obbligatorio</div>
                        </div> 
                </div>
                
                <div class="form-group col-sm-6">
                        <label for="email">Email</label>
                        <input 
                            placeholder="Email" 
                            name="email" 
                            id="email" 
                            type="email" 
                            class="form-control" 
                            formControlName= "email"
                            [(ngModel)]="persona.email"
                        />
                        <div *ngIf="submitted && personaForm.controls.email.errors">
                            <div *ngIf="personaForm.controls.email.errors.required"  class="alert-danger">Email e' un campo obbligatorio</div>
                            <div *ngIf="personaForm.controls.email.errors.email"  class="alert-danger">Formato Email non corretto</div>
                        </div>          
                        
                </div>
                <div class="form-group col-sm-6">
                        <label for="email">Telefono</label>
                        <input 
                            placeholder="Telefono" 
                            name="telefono" 
                            id="telefono" 
                            type="text" 
                            class="form-control" 
                            formControlName= "telefono"
                            [(ngModel)]="persona.telefono"
                        />
                    <div *ngIf="submitted && personaForm.controls.telefono.errors">
                        <div *ngIf="personaForm.controls.telefono.errors.required"  class="alert-danger">Il telefono e' un campo obbligatorio</div>
                    </div>    
                </div>

                <div class="form-group col-sm-12">
                        <label for="natoIn"> La persona in oggetto e' da  </label>
                        <div class="form-check form-check-inline" >
                                <label class="form-check-label" *ngFor="let item of tipoRischiestaList">
                                    <input class="form-check-input" (change)=onChangeTipoRichiesta()
                                        type="radio" 
                                        [(ngModel)]="persona.tipoRichiesta" 
                                        name="tipoRichiesta" 
                                        id="tipoRichiesta" 
                                        formControlName="tipoRichiesta"
                                        value="{{item.id}}"> {{item.descrizione}}
                                </label> 
                            </div>  
                </div>

                <div class="form-group col-sm-6" *ngIf="persona.tipoRichiesta === 'A' ">
                        <label for="tipoDocumento">Tipo documento</label>
                            <select class="form-control" 
                                name="tipoDocumento"  
                                [(ngModel)]="persona.tipoDocumento"  
                                id="tipoDocumento"
                                formControlName="tipoDocumento"
                                >
                               
                                <option *ngFor="let p of tipoDocumentoList" [value]="p.codice" >
                                    {{p.descrizione}}
                                </option>
                          </select>    
                </div>
                
            
                <div class="form-group col-sm-6" *ngIf="persona.tipoRichiesta === 'A' ">
                        <label for="dataRilascioDocumento">Data rilascio</label>
                        <input 
                            type="date"
                            id="dataRilascioDocumento" 
                            name="dataRilascioDocumento" 
                            class="form-control" 
                            formControlName= "dataRilascioDocumento"
                            [(ngModel)]="persona.dataRilascioDocumento"  />
                    
                </div>

                <div class="form-group col-sm-6" *ngIf="persona.tipoRichiesta === 'A' ">
                        <label for="numeroDocumento">Numero documento</label>
                        <input 
                            type="text"
                            id="numeroDocumento" 
                            name="numeroDocumento" 
                            class="form-control" 
                            formControlName= "numeroDocumento"
                            [(ngModel)]="persona.numeroDocumento"  />
                    
                </div>

                <div class="form-group col-sm-6" *ngIf="persona.tipoRichiesta === 'A' ">
                        <label for="richiestaCertificatoDigitale">Richiesta certificato digitale</label>
                        <select class="form-control" 
                                name="richiestaCertificatoDigitale"  
                                [(ngModel)]="persona.richiestaCertificatoDigitale"  
                                id="richiestaCertificatoDigitale"
                                formControlName="richiestaCertificatoDigitale"
                                >
                                <option *ngFor="let p of yesNoList" [value]="p.id" >
                                    {{p.descrizione}}
                                </option>
                          </select> 
                    
                </div>
            
            <button class="btn btn-success nextBtn pull-right" type="button" (click)="onSave()">Salva</button>

            <button class="btn btn-success nextBtn pull-right" type="button" (click)="onAnnulla()">Annulla</button>
            
            
        </div>
    </div>

    
</form>

